* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
 
}


.upper-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(20, 19, 18);
  /* background-color: rgb(54, 53, 53); */
  justify-content: center;
  align-items: center;
}
.search-bar {
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 60px;
  height: 3.15em;
  width: 20em;
}

.logo-container {
  height: 5em;
  width: 5em;
}
@media screen and (min-width: 640px) {
  .upper-container {
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 2em;
  }
  .search-bar {
    width: 17em;
  }

}

@media screen and (min-width: 800px) {
  .search-bar {
    width: 25em;
    position: absolute;
    left: 10em;
  }
  .logo-container {
    height: 6.5em;
    width: 6.5em;
  }
  .upper-container {
    padding-inline: 2em;
    position: relative;
  }

  .navbar-items{
    font-size: larger;
  }
  
}

@media screen and (min-width: 1000px) {
  .search-bar {
    width: 30em;
    position: absolute;
    left: 14em;
  }

  .upper-container{
    position: relative;
  }

  .logo-container {
    height: 8em;
    width: 8em;
  }
}

@media screen and (min-width: 1080px){
  .search-bar {
    width: 30em;
    position: absolute;
    left: 19em;
  }

  .upper-container{
    position: relative;
  }

  .logo-container {
    height: 8em;
    width: 8em;
  }
}

@media screen and (min-width: 1200px){

  .upper-container{
    position: relative;
  }

  .search-bar {
    width: 30em;
    position: absolute;
    left: 26em;
  }

  .logo-container {
    height: 8em;
    width: 8em;
    
  }
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-bar input {
  background: transparent;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 15px;
  color: whitesmoke;
}

.order {
  margin-block: 10px;
  display: flex;
  align-items: center;
  column-gap: 0.5em;
}

.delivery-truck-icon {
  font-size: 20px;
  color: whitesmoke;
}

::placeholder {
  color: #f1f1f1;
}

.search-bar button {
  border: 0;
  margin-right: 2px;
  border-radius: 25px;
  width: 65px;
  height: 45px;
  background: rgba(1, 1, 7, 0.479);
  cursor: pointer;
  color: white;
}

.search-bar button:hover {
  background: rgba(232, 232, 232, 0.479);
  transition: 0.5s ease;
  color: rgb(255, 246, 71);
}

.search-icon {
  margin-top: 5px;
  width: 30px;
  height: 25px;
}



nav {
  color: whitesmoke;
  font-weight: 300;
  font-size: xx-large;
  width: 100%;
  height: 60px;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1em;
}

.cart-icon-div{
  display: flex;
}

.menu-icon-div{
  display: flex; 
}

.navbar-items{
  display: none;
}
.menu-icon{
  cursor: pointer;
}
@media screen and (min-width: 640px) {
  .upper-container {
    flex-direction: row;
  }

  .menu-icon-div{
    display: none;
  }

  .navbar-items{
    flex: 1;
    display: flex;
    justify-content:flex-start;
    gap: 36px;
    padding-left: 15px;
    align-items: center;
    list-style-type: none;
    font-size:14px;
  }
}

@media screen and (min-width: 800px) {
  .navbar-items{
    gap: 4em;
    font-size: 17px;
  }
}

@media screen and (min-width: 1080px) {
  .navbar-items{
    gap: 6em;
   padding-left: 6em;
  }
}



